{
    "bot": {
        "token": "TOKEN",
        "prefix": "oinkbot ",
        "guild": "0000",
        "channels": {
            "rules": "0000",
            "issues": "0000",
            "botchat": "0000",
            "logchannel": "0000",
            "auditlogchannel": "0000",
            "announcementchannel": "0000"
        },
        "roles": {
            "staff": "0000",
            "admin": "0000",
            "owner": "0000",
            "donator": "0000",
            "event": "0000",
            "towny": "0000",
            "factions": "0000",
            "creative": "0000",
            "parkour": "0000",
            "minigames": "0000"
        },
        "messages": {
            "worldroles": "0000"
        },
        "integrations": {
            "enable": {
                "mysql": true,
                "trello": true
            },
            "mysql": {
                "host": "localhost",
                "user": "username",
                "password": "shhh",
                "database": "ob_database"
            },
            "trello": {
                "key": "0000",
                "secret": "shhh",
                "lists": {
                    "issues": "0000"
                },
                "labels":{
                    "suggestion": "0000",
                    "issue": "0000"
                }
            }
        }
    },
    "web": {
        "secret": {"0000": level}
    }
}