<!DOCTYPE html>
<html>

<head>
    <title>API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Welcome</h1>
    <p>Welcome to the OinkBot API version <%= version %><br>
    Head over to <a href="/api/docs">the documentation</a> to get started!
    </p>
    
</body>

</html>