body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  text-align: left;
}

.api-type {
  text-transform: uppercase;
}

.codeblock {
  font-family: "consolas";
  color: rgb(124, 88, 47);
  background-color: rgba(105, 105, 105, 0.137);
  border-radius: 10px;
  
}

.codeblock .heading {
  background-color: grey;
  padding: 10px;
}

.codeblock .endpoint {
  padding: 10px;
}

.container {
  margin: 10px auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.divider {
  border-bottom: 2px solid #efefef;
  padding-bottom: 10px;
  width: 100%;
}

.part {
  text-align: left;
  height: auto;
  width: auto;
}

.container .expl {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  position: relative;
  text-align: center;
}

.align-left {
  justify-content: left;
  align-content: center;
}

.path {
  border-radius: 10px;
  padding: 4px;
  font-size: 20px;
}

.part h1 {
  color: black;
  width: auto;
  margin: 0px;
}